body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 101px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
